<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
         xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
         <!-- 提供方应用信息，用于计算依赖关系 -->
         <!--<dubbo:application name="common-dubbo-service"  logger="slf4j"/>
         &lt;!&ndash; 使用multicast广播注册中心暴露服务地址 &ndash;&gt;
         <dubbo:registry address="zookeeper://127.0.0.1:2181" check="false"/>
         &lt;!&ndash; 用dubbo协议在20880端口暴露服务 &ndash;&gt;
         <dubbo:protocol serialization="kryo"   charset="UTF-8"  buffer="8192"  payload="104857600" />
         <dubbo:provider timeout="60000"/>
         &lt;!&ndash; 声明需要暴露的服务接口 &ndash;&gt;
         <dubbo:service interface="com.lsf.twnb.service.interfaces.IUserService" ref="userService" delay="-1" register="true"/>
         &lt;!&ndash; 和本地bean一样实现服务 &ndash;&gt;-->
</beans>