我的博客<br/>$queryResult.totalCount
#foreach($item in ${queryResult.items})
${item.id}
<a href="${ctx}/blog/viewBlog/$!{item.id}.htm" target="_blank"> ${item.title}<br/></a>
${item.publishDate}<br/>
#end

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <ul class="pagination">
                <li>
                    <a href="#">Prev</a>
                </li>
                <li>
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li>
                    <a href="#">5</a>
                </li>
                <li>
                    <a href="#">Next</a>
                </li>
            </ul>
        </div>
    </div>
</div>