我的博客<br/>$queryResult.totalCount
#foreach($item in ${queryResult.items})
${item.id}
<a href="${ctx}/blog/viewBlog/$!{item.id}.htm" target="_blank"> ${item.title}</a>
    ${DateFormatUtil.format(${item.publishDate},'yyyy/MM/dd')}<br/>
#end

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <ul class="pagination">
                <li>
                    <a href="#">上一页</a>
                </li>
                <li>
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li>
                    <a href="#">5</a>
                </li>
                <li>
                    <a href="#">下一页</a>
                </li>
            </ul>
        </div>
    </div>
</div>