<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lsf.twnb.dao.SignMapper" >
  <resultMap id="BaseResultMap" type="com.lsf.twnb.entity.Sign" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="sign_time" property="signTime" jdbcType="DATE" />
    <result column="sign_date" property="signDate" jdbcType="TIME" />
    <result column="sign_type" property="signType" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, uid, username, sign_time, sign_date, sign_type
  </sql>
  <insert id="insert" parameterType="com.lsf.twnb.entity.Sign" >
    insert into sign
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        uid,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="signTime != null" >
        sign_time,
      </if>
      <if test="signDate != null" >
        sign_date,
      </if>
      <if test="signType != null" >
        sign_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="signTime != null" >
        #{signTime,jdbcType=DATE},
      </if>
      <if test="signDate != null" >
        #{signDate,jdbcType=TIME},
      </if>
      <if test="signType != null" >
        #{signType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByUsername" parameterType="com.lsf.twnb.entity.Sign" >
    update sign
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="signTime != null" >
        sign_time = #{signTime,jdbcType=DATE},
      </if>
      <if test="signDate != null" >
        sign_date = #{signDate,jdbcType=TIME},
      </if>
      <if test="signType != null" >
        sign_type = #{signType,jdbcType=VARCHAR},
      </if>
    </set>
    where username = #{username,jdbcType=INTEGER}
  </update>
</mapper>