<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsf.twnb.dao.SignRecordMapper">
    <resultMap id="BaseResultMap" type="com.lsf.twnb.entity.SignRecord">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="sign_type" jdbcType="VARCHAR" property="signType"/>
        <result column="sign_date" jdbcType="DATE" property="signDate"/>
        <result column="sign_time" jdbcType="TIME" property="signTime"/>
        <result column="sign_user" jdbcType="VARCHAR" property="signUser"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, twnb_type, twnb_date, twnb_time, twnb_user
  </sql>
    <insert id="insertSelective" parameterType="com.lsf.twnb.entity.SignRecord">
        insert into SignRecord
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="signType != null">
                twnb_type,
            </if>
            <if test="signDate != null">
                twnb_date,
            </if>
            <if test="signTime != null">
                twnb_time,
            </if>
            <if test="signUser != null">
                twnb_user,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="signType != null">
                #{twnbType,jdbcType=VARCHAR},
            </if>
            <if test="signDate != null">
                #{twnbDate,jdbcType=DATE},
            </if>
            <if test="signTime != null">
                #{twnbTime,jdbcType=TIME},
            </if>
            <if test="signUser != null">
                #{twnbUser,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

</mapper>