#set($hasMoreBlog=""!="$!blog.id")
<div class="blog-post">
    <h3 class="blog-post-title">$!{blog.title}</h3>
    <p class="blog-post-meta">${DateFormatUtil.format(${blog.publishDate},'yyyy/MM/dd')}<a
            href="https://github.com/liusf1993">$!{article.author}</a></p>
    $!{content}
</div>
<div class="blog-content">
    #if($hasMoreBlog)
        $!blog.strContent
    #else
        没有更多内容了
    #end

</div>
<nav>
    <ul class="pager">
        <li><a href="$ctx/index.htm?blogId=$!{blog.id}&type=-1">Previous</a></li>
        <li><a href="$ctx/index.htm?blogId=$!{blog.id}&type=1">Next</a></li>
    </ul>
</nav>