<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="$ctx/resources/bootstrap-3.3.5-dist/css/bootstrap.css">
    <!-- 可选的Bootstrap主题文件（一般不用引入） -->
    <link rel="stylesheet" href="$ctx/resources/bootstrap-3.3.5-dist/css/bootstrap-theme.css">
    <link rel="stylesheet" href="$ctx/resources/lsf/theme.css">
    <link rel="stylesheet" href="$ctx/resources/lsf/blog.css">
    <link rel="stylesheet" href="$ctx/resources/lsf/ico/favicon.ico">
    <link rel="shortcut icon" href="/resources/lsf/ico/favicon.ico"/>
    <!-- jQuery文件。务必在   bootstrap.min.js 之前引入 -->
    <script src="$ctx/resources/jquery/jquery1.11.3.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="$ctx/resources/bootstrap-3.3.5-dist/js/bootstrap.js"></script>
    <title>思无涯</title>

</head>
<body>
    #header()
<div id="mainDiv" class="container">
    <div class="row">
    ##目录结构
        <div id="catalog" class="col-sm-2 col-sm-offset-1 blog-sidebar " style="padding-left:5%;">
            <div id="authorInfo" class="sidebar-module">
                #userIntroduction($user)
            </div>
            <div class="sidebar-module">
                <h3>目录结构</h3>
                <ol class="list-unstyled">
                    <li><a href="${ctx}/blog/getBlogList.htm">我的博客</a></li>
                    <li><a href="#">热点评论</a></li>
                    <li><a href="#">我的BUG</a></li>
                    <li><a href="#">编程心得</a></li>
                </ol>
            </div>

            <div class="sidebar-module">
                <h4>常用链接</h4>
                <ol class="list-unstyled">
                    <li><a href="https://www.github.com">GitHub</a></li>
                    <li><a href="http://www.stackoverflow.com">StackOverflow</a></li>
                    <li><a href="http://www.csdn.com">CSDN</a></li>
                </ol>
            </div>
        </div>
        <div class="col-sm-8 blog-main" style="height:82%;overflow-y: auto;">
            ${screen_content}
        </div>
    </div>
    <footer class="blog-footer" style="background-color: inherit">
        <p>Think with no bounds!</a>.
        </p>
    </footer>


    <script type="text/javascript">
        function doLogin() {
            jQuery("#loginForm").attr("action", "$!{ctx}/login.htm");
            jQuery("#loginForm").submit();
        }
        function doRegister() {
            jQuery("#loginForm").attr("action", "$!{ctx}/register.htm");
            jQuery("#loginForm").submit();
        }
        jQuery(function () {
            jQuery(window).scroll(function () {
                jQuery("#catalog").css("top", jQuery(window).scrollTop());
                jQuery("#authorInfo").css("top", jQuery(window).scrollTop());
            });
        });

    </script>


</div>
</body>
</html>
